#banner
    .banner_content
        %h1 File Cabnet
        %p Your Personal Private File Cabnet
        %button= link_to "Enter", new_user_registration_path
#callouts
    .callout_inner
        .wrapper   
            .callout
                %h2 Organize
                %p Kitsch tofu leggings pork belly authentic hell of pok pok put a bird on it mlkshk bushwick. Gastropub hoodie iceland health goth ugh. PBR&B +1 cred chia brunch. Freegan kale chips craft beer stumptown bespoke.
    
#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "Join Now", new_user_registration_path
